@page "/podatki"
@inject IJSRuntime JSRuntime
@using BlazorApp1.Services
@using BlazorApp1.Models
@inject IUserService UserService
@rendermode InteractiveServer

<h3>Podatki</h3>
<table class="table">
    <thead>
        <tr>
            @foreach (var header in userHeaders)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td><img src="@user.Picture.Thumbnail" alt="User Picture" /></td>
                <td>@user.Gender</td>
                <td>@user.Name.Title @user.Name.First @user.Name.Last</td>
                <td>@user.Location.City, @user.Location.State</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<User> users = new List<User>();
    private string[] userHeaders;

    protected override async Task OnInitializedAsync()
    {
        userHeaders = typeof(User).GetProperties().Select(prop => prop.Name).ToArray();
        users = await UserService.GetUsers();
      
    }
}
